In [3]:
import numpy as np
import pandas as pd
from pathlib import Path
#Data Source
import yfinance as yf

#Data viz
import plotly.graph_objs as go

In [3]:
data = yf.download(tickers='IDFCFIRSTB.NS', period='1d', interval='1m')
#Print data

[*********************100%***********************]  1 of 1 completed

In [4]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-07-07 15:25:00+05:30,79.650002,79.800003,79.550003,79.800003,79.800003,242367
2023-07-07 15:26:00+05:30,79.750000,79.750000,79.650002,79.750000,79.750000,110695
2023-07-07 15:27:00+05:30,79.750000,79.750000,79.699997,79.699997,79.699997,99780
2023-07-07 15:28:00+05:30,79.699997,79.750000,79.650002,79.699997,79.699997,74575
2023-07-07 15:29:00+05:30,79.699997,79.900002,79.699997,79.699997,79.699997,94060

In [ ]:
{
    "measurement": ["candlestick", "stock_price"],
    "tags": [{"symbol": "AAPL"}, {"symbol": "GOOG"}],
    "time": [pd.Timestamp.now(), pd.Timestamp.now()],
    "fields": [
        {"open": 150.0, "high": 155.0, "low": 145.0, "close": 148.0, "volume": 1000000},
        {"open": 250.0, "high": 255.0, "low": 245.0, "close": 248.0, "volume": 2000000}
    ]
}

In [18]:
df.to_csv(Path().absolute() / "notebooks/datasets" / "test_dataset.csv")

In [4]:
msft = yf.Ticker("IDFCFIRSTB.NS")

In [6]:
msft.info

{'address1': 'Naman Chambers',
 'address2': 'C-32, G-Block Bandra-Kurla Complex Bandra (East)',
 'city': 'Mumbai',
 'zip': '400051',
 'country': 'India',
 'phone': '91 22 7132 5500',
 'fax': '91 22 2654 0354',
 'website': 'https://www.idfcfirstbank.com',
 'industry': 'Banks—Regional',
 'industryDisp': 'Banks—Regional',
 'sector': 'Financial Services',
 'longBusinessSummary': 'IDFC First Bank Limited provides various banking, and financial products and services to corporates, individuals, multi- national companies, SMEs/entrepreneurs, financial institutions, and the government in India. It operates through Treasury, Corporate and Wholesale Banking, Retail Banking, and Other Banking Business segments. The company provides savings, corporate salary, current, and business accounts; fixed and recurring deposits; debit, credit, and prepaid cards; and payment services. It also offers personal, consumer durable, home, car, two-wheeler, equipment hypothecation, business, working capital, professional, term, and micro enterprise loans, as well as loan against property and loans for women. In addition, the company provides corporate linked finance products, including sales bill/purchase bill/invoice discounting, vendor finance, dealer finance, and factoring/receivables purchase; treasury and capital market services; and trade finance and services comprising import-export solutions, bank guarantees, remittances, etc. Further, it offers investment services consisting of mutual funds, gold bonds, demat and trading account, and investment linked insurance solutions; term, health, motor, home, travel, business, and pradhan mantri insurance products, as well as savings and annuity plans; and mobile, Internet banking, and customer care services. Additionally, the company provides cash management services; investment banking services; and investment management solutions. The company was formerly known as IDFC Bank Limited and changed its name to IDFC First Bank Limited in January 2019. IDFC First Bank Limited was incorporated in 2014 and is based in Mumbai, India.',
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Vembu  Vaidyanathan AMP (HBS), MBA',
   'age': 54,
   'title': 'MD, CEO & Director',
   'yearBorn': 1968,
   'fiscalYear': 2022,
   'totalPay': 44460962,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sudhanshu  Jain',
   'title': 'CFO & Head of Corp. Centre',
   'fiscalYear': 2020,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Madhivanan R. Balakrishnan B.Sc., PGDM',
   'age': 52,
   'title': 'COO & Exec. Director',
   'yearBorn': 1970,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Saptarshi  Bapari',
   'title': 'Head of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Satish Ashok Gaikwad',
   'age': 42,
   'title': 'Head of Legal & Company Sec.',
   'yearBorn': 1980,
   'fiscalYear': 2020,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adrian  Andrade',
   'title': 'Chief HR Officer and Head of Communications & HR',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Naarayan  T. V',
   'title': 'Chief Marketing Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ravi Shankar Prasad',
   'title': 'Head of Bharat Banking',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Amit  Kumar',
   'title': 'Head of Retail Liabilities & Branch Banking',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Pradeep  Natarajan',
   'title': 'Head of Retail Assets',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 3,
 'boardRisk': 1,
 'compensationRisk': 8,
 'shareHolderRightsRisk': 8,
 'overallRisk': 2,
 'governanceEpochDate': 1688169600,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 80.5,
 'open': 80.5,
 'dayLow': 79.05,
 'dayHigh': 80.8,
 'regularMarketPreviousClose': 80.5,
 'regularMarketOpen': 80.5,
 'regularMarketDayLow': 79.05,
 'regularMarketDayHigh': 80.8,
 'exDividendDate': 1532304000,
 'payoutRatio': 0.0,
 'beta': 0.893826,
 'trailingPE': 20.228426,
 'volume': 27782061,
 'regularMarketVolume': 27782061,
 'averageVolume': 37568652,
 'averageVolume10days': 47389654,
 'averageDailyVolume10Day': 47389654,
 'bid': 0.0,
 'ask': 0.0,
 'bidSize': 0,
 'askSize': 0,
 'marketCap': 528265936896,
 'fiftyTwoWeekLow': 33.05,
 'fiftyTwoWeekHigh': 84.5,
 'priceToSalesTrailing12Months': 3.4214935,
 'fiftyDayAverage': 72.283,
 'twoHundredDayAverage': 60.79825,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'INR',
 'enterpriseValue': 934678429696,
 'profitMargins': 0.16093999,
 'floatShares': 2953601058,
 'sharesOutstanding': 6628179968,
 'heldPercentInsiders': 0.44685,
 'heldPercentInstitutions': 0.22365999,
 'impliedSharesOutstanding': 6619140096,
 'bookValue': 41.173,
 'priceToBook': 1.9357345,
 'lastFiscalYearEnd': 1680220800,
 'nextFiscalYearEnd': 1711843200,
 'mostRecentQuarter': 1680220800,
 'earningsQuarterlyGrowth': 1.317,
 'netIncomeToCommon': 24849299456,
 'trailingEps': 3.94,
 'enterpriseToRevenue': 6.054,
 '52WeekChange': 132.02328,
 'SandP52WeekChange': 14.127123,
 'lastDividendValue': 0.75,
 'lastDividendDate': 1532304000,
 'exchange': 'NSI',
 'quoteType': 'EQUITY',
 'symbol': 'IDFCFIRSTB.NS',
 'underlyingSymbol': 'IDFCFIRSTB.NS',
 'shortName': 'IDFC FIRST BANK',
 'longName': 'IDFC First Bank Limited',
 'firstTradeDateEpochUtc': 1446781500,
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'uuid': '36faac9e-f6b9-3b80-a168-362a0b41de76',
 'messageBoardId': 'finmb_275609700',
 'gmtOffSetMilliseconds': 19800000,
 'currentPrice': 79.7,
 'recommendationKey': 'none',
 'totalCash': 137786802176,
 'totalCashPerShare': 21.948,
 'totalDebt': 572120891392,
 'totalRevenue': 154396295168,
 'revenuePerShare': 24.729,
 'returnOnAssets': 0.0115600005,
 'returnOnEquity': 0.105900005,
 'operatingCashflow': -353668694016,
 'earningsGrowth': 1.288,
 'revenueGrowth': 0.461,
 'grossMargins': 0.0,
 'ebitdaMargins': 0.0,
 'operatingMargins': 0.21576999,
 'financialCurrency': 'INR',
 'trailingPegRatio': None}

In [6]:
# get historical market data
hist = msft.history(period="1d", interval="1m",
                start=None, end=None, prepost=False, actions=True,
                auto_adjust=True, back_adjust=False, repair=True, keepna=False,
                proxy=None, rounding=False, timeout=10,
                raise_errors=False)
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Repaired?
Datetime,,,,,,,,
2023-07-07 09:15:00+05:30,80.449997,80.449997,80.000000,80.250000,0,0.0,0.0,NaN
2023-07-07 09:16:00+05:30,80.300003,80.300003,80.099998,80.250000,293733,0.0,0.0,NaN
2023-07-07 09:17:00+05:30,80.199997,80.300003,80.099998,80.300003,238919,0.0,0.0,NaN
2023-07-07 09:18:00+05:30,80.300003,80.449997,80.199997,80.400002,213057,0.0,0.0,NaN
2023-07-07 09:19:00+05:30,80.400002,80.449997,80.300003,80.300003,171577,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
2023-07-07 15:25:00+05:30,79.650002,79.800003,79.550003,79.800003,242367,0.0,0.0,NaN
2023-07-07 15:26:00+05:30,79.750000,79.750000,79.650002,79.750000,110695,0.0,0.0,NaN
2023-07-07 15:27:00+05:30,79.750000,79.750000,79.699997,79.699997,99780,0.0,0.0,NaN
2023-07-07 15:28:00+05:30,79.699997,79.750000,79.650002,79.699997,74575,0.0,0.0,NaN
2023-07-07 15:29:00+05:30,79.699997,79.900002,79.699997,79.699997,94060,0.0,0.0,NaN

In [7]:
type(hist)

pandas.core.frame.DataFrame

In [9]:
msft.history_metadata

{'currency': 'INR',
 'symbol': 'IDFCFIRSTB.NS',
 'exchangeName': 'NSI',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 1446781500,
 'regularMarketTime': 1688723999,
 'gmtoffset': 19800,
 'timezone': 'IST',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'regularMarketPrice': 79.7,
 'chartPreviousClose': 73.6,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'IST',
   'start': 1688701500,
   'end': 1688701500,
   'gmtoffset': 19800},
  'regular': {'timezone': 'IST',
   'start': 1688701500,
   'end': 1688724000,
   'gmtoffset': 19800},
  'post': {'timezone': 'IST',
   'start': 1688724000,
   'end': 1688724000,
   'gmtoffset': 19800}},
 'dataGranularity': '1d',
 'range': '1mo',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [11]:
# show actions (dividends, splits, capital gains)
[msft.actions,
msft.dividends,
msft.splits,
msft.capital_gains]

[Empty DataFrame
 Columns: [Dividends, Stock Splits]
 Index: [],
 Series([], Name: Dividends, dtype: float64),
 Series([], Name: Stock Splits, dtype: float64),
 []]

In [13]:
# show share count
msft.get_shares_full(start="2022-01-01", end=None)

2022-01-27 00:00:00+05:30    6216690176
2022-02-12 00:00:00+05:30    6216690176
2022-02-15 00:00:00+05:30    6592809984
2022-02-16 00:00:00+05:30    6216690176
2022-02-22 00:00:00+05:30    6217650176
                                ...
2023-06-20 00:00:00+05:30    6658039808
2023-06-22 00:00:00+05:30    6625439744
2023-06-24 00:00:00+05:30    6628179968
2023-06-28 00:00:00+05:30    6670810112
2023-06-29 00:00:00+05:30    6628179968
Length: 75, dtype: int64

In [14]:
# show financials:
# - income statement
msft.income_stmt

,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Tax Effect Of Unusual Items,0.0,-12801654.829176,10871102.05417,48300.0
Tax Rate For Calcs,0.254088,0.243818,0.06898,0.3
Total Unusual Items,0.0,-52505000.0,157597000.0,161000.0
Total Unusual Items Excluding Goodwill,0.0,-52505000.0,157597000.0,161000.0
Net Income From Continuing Operation Net Minority Interest,24849300000.0,1323070000.0,4831792000.0,-28433904000.0
Reconciled Depreciation,4349900000.0,3824062000.0,3425065000.0,3200069000.0
Net Interest Income,126371700000.0,97076208000.0,73830250000.0,60120495000.0
Interest Expense,100906400000.0,74650703000.0,85851273000.0,102282695000.0
Interest Income,227278100000.0,171726911000.0,159681523000.0,162403190000.0
Normalized Income,24849300000.0,1362773345.170824,4685066102.05417,-28434016700.0
Net Income From Continuing And Discontinued Operation,24849300000.0,1323070000.0,4831792000.0,-28433904000.0
Diluted Average Shares,6339107143.0,6300476190.0,5575800000.0,4848800000.0
Basic Average Shares,6243542714.0,6300476190.0,5502600000.0,4786400000.0
Diluted EPS,3.92,0.21,0.87,-5.94
Basic EPS,3.98,0.21,0.88,-5.94
Diluted NI Availto Com Stockholders,24849300000.0,1323070000.0,4831792000.0,-28433904000.0
Net Income Common Stockholders,24849300000.0,1323070000.0,4831792000.0,-28433904000.0
Net Income,24849300000.0,1323070000.0,4831792000.0,-28433904000.0
Minority Interests,NaN,0.0,NaN,NaN
Net Income Including Noncontrolling Interests,24849300000.0,1323067000.0,4831881000.0,-28433877000.0
Net Income Extraordinary,0.0,0.0,0.0,NaN
Net Income Continuous Operations,24849300000.0,1323067000.0,4831881000.0,-28433877000.0
Tax Provision,8464700000.0,426600000.0,358000000.0,4974900000.0
Pretax Income,33314000000.0,1749667000.0,5189881000.0,-23458977000.0
Special Income Charges,0.0,-52505000.0,157597000.0,161000.0
Other Special Charges,NaN,52505000.0,-157597000.0,-161000.0
Write Off,NaN,NaN,NaN,13864400000.0
Gain On Sale Of Security,NaN,5903148000.0,5969578000.0,3904461000.0
Operating Expense,121082300000.0,94534047000.0,63298990000.0,68903659000.0
Other Operating Expenses,78296400000.0,52997234000.0,31254759000.0,42770420000.0
Depreciation And Amortization In Income Statement,NaN,3824062000.0,3425065000.0,3200069000.0
Amortization,NaN,0.0,NaN,NaN
Depreciation Income Statement,NaN,3824062000.0,3425065000.0,3200069000.0
Selling General And Administration,NaN,2002646000.0,1243388000.0,1509305000.0
Selling And Marketing Expense,NaN,1575433000.0,822222000.0,1394955000.0
General And Administrative Expense,NaN,427213000.0,421166000.0,114350000.0
Insurance And Claims,NaN,1196959000.0,902986000.0,536293000.0
Rent And Landing Fees,NaN,3488736000.0,3432670000.0,2917583000.0
Total Revenue,171044500000.0,132972419000.0,104414574000.0,66829521000.0
Operating Revenue,171044500000.0,132972419000.0,104414574000.0,66829521000.0

In [15]:
msft.quarterly_income_stmt

,2023-03-31,2022-12-31,2022-09-30,2022-06-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0
Tax Rate For Calcs,0.25427,0.254113,0.253798,0.254037
Total Unusual Items,0.0,0.0,0.0,0.0
Total Unusual Items Excluding Goodwill,0.0,0.0,0.0,0.0
Net Income From Continuing Operation Net Minority Interest,8161200000.0,6166100000.0,5555700000.0,4850100000.0
Net Interest Income,35973600000.0,32859900000.0,30021800000.0,27513600000.0
Interest Expense,28270600000.0,26259000000.0,24675100000.0,21703800000.0
Interest Income,64244200000.0,59118900000.0,54696900000.0,49217400000.0
Normalized Income,8161200000.0,6166100000.0,5555700000.0,4850100000.0
Net Income From Continuing And Discontinued Operation,8161200000.0,6166100000.0,5555700000.0,4850100000.0
Diluted Average Shares,NaN,6291938776.0,6313295455.0,6298831169.0
Basic Average Shares,NaN,6228383838.0,6242359551.0,6218076923.0
Diluted EPS,NaN,0.98,0.88,0.77
Basic EPS,NaN,0.99,0.89,0.78
Diluted NI Availto Com Stockholders,8161200000.0,6166100000.0,5555700000.0,4850100000.0
Net Income Common Stockholders,8161200000.0,6166100000.0,5555700000.0,4850100000.0
Net Income,8161200000.0,6166100000.0,5555700000.0,4850100000.0
Net Income Including Noncontrolling Interests,8161200000.0,6166100000.0,5555700000.0,4850100000.0
Net Income Extraordinary,0.0,0.0,0.0,0.0
Net Income Continuous Operations,8161200000.0,6166100000.0,5555700000.0,4850100000.0
Tax Provision,2782700000.0,2100700000.0,1889600000.0,1651700000.0
Pretax Income,10943900000.0,8266800000.0,7445300000.0,6501800000.0
Special Income Charges,0.0,0.0,0.0,0.0
Operating Expense,34183500000.0,31615200000.0,28948200000.0,26488200000.0
Other Operating Expenses,22286200000.0,20735400000.0,19762100000.0,16926200000.0
Total Revenue,49951700000.0,44384300000.0,40635200000.0,36069900000.0
Operating Revenue,49951700000.0,44384300000.0,40635200000.0,36069900000.0

In [16]:
# - balance sheet
msft.balance_sheet

,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Ordinary Shares Number,6618121816.0,6217708310.0,5675849855.0,4809903016.0
Share Issued,6618121816.0,6217708310.0,5675849855.0,4809903016.0
Net Debt,434334100000.0,367525670000.0,384130259000.0,501656492000.0
Total Debt,572120900000.0,540720097000.0,467016804000.0,577803431000.0
Tangible Book Value,257078900000.0,210821196000.0,178997149000.0,152638530000.0
Invested Capital,830596400000.0,751541293000.0,646013953000.0,731838661000.0
Net Tangible Assets,257078900000.0,210821196000.0,178997149000.0,152638530000.0
Common Stock Equity,258475500000.0,210821196000.0,178997149000.0,154035230000.0
Total Capitalization,830596400000.0,751541293000.0,646013953000.0,731838661000.0
Total Equity Gross Minority Interest,258475500000.0,210821196000.0,178997149000.0,154035230000.0
Minority Interest,0.0,0.0,NaN,NaN
Stockholders Equity,258475500000.0,210821196000.0,178997149000.0,154035230000.0
Other Equity Interest,371200000.0,161202000.0,974000.0,NaN
Retained Earnings,NaN,-37918490000.0,-36371560000.0,-34993352000.0
Additional Paid In Capital,NaN,154534140000.0,129611975000.0,118142291000.0
Capital Stock,66181200000.0,62177083000.0,56758499000.0,48099030000.0
Common Stock,66181200000.0,62177083000.0,56758499000.0,48099030000.0
Total Liabilities Net Minority Interest,2140345000000.0,1690636133000.0,1451718094000.0,1337550288000.0
Long Term Debt And Capital Lease Obligation,572120900000.0,540720097000.0,467016804000.0,577803431000.0
Payables,NaN,15797666000.0,25267114000.0,34886084000.0
Dividends Payable,NaN,NaN,NaN,0.0
Accounts Payable,NaN,15797666000.0,25267114000.0,34886084000.0
Total Assets,2398820500000.0,1901457329000.0,1630715243000.0,1491585518000.0
Investments And Advances,609132800000.0,459345583000.0,451815865000.0,451744235000.0
Investmentin Financial Assets,609132800000.0,459345583000.0,451815865000.0,449480335000.0
Available For Sale Securities,NaN,34231733000.0,51794517000.0,66958378000.0
Long Term Equity Investment,NaN,0.0,0.0,2263900000.0
Investmentsin Associatesat Cost,NaN,NaN,NaN,2263900000.0
Investmentsin Subsidiariesat Cost,NaN,NaN,NaN,0.0
Goodwill And Other Intangible Assets,1396600000.0,1396600000.0,NaN,1396700000.0
Goodwill,1396600000.0,1396600000.0,NaN,1396700000.0
Net PPE,21330600000.0,13873441000.0,12959304000.0,10732314000.0
Accumulated Depreciation,NaN,-42523339000.0,-39247952000.0,-36140477000.0
Gross PPE,NaN,56396780000.0,52207256000.0,46872791000.0
Construction In Progress,NaN,794109000.0,652707000.0,744600000.0
Other Properties,NaN,52729510000.0,48681388000.0,43127015000.0
Properties,NaN,2873161000.0,2873161000.0,3001176000.0
Prepaid Assets,NaN,4319483000.0,5330643000.0,10643405000.0
Receivables,NaN,34767279000.0,34097913000.0,32244059000.0
Cash And Cash Equivalents,137786800000.0,173194427000.0,82886545000.0,76146939000.0
Cash Equivalents,NaN,42013482000.0,3319607000.0,863875000.0
Cash Financial,105622800000.0,6092577000.0,5012304000.0,4718977000.0

In [17]:
msft.quarterly_balance_sheet

                                                  2023-03-31       2022-09-30
Ordinary Shares Number                          6618121816.0     6221337487.0
Share Issued                                    6618121816.0     6221337487.0
Net Debt                                      434334100000.0   417959000000.0
Total Debt                                    572120900000.0   566430100000.0
Tangible Book Value                           257078900000.0   220518800000.0
Invested Capital                              830596400000.0   786948900000.0
Net Tangible Assets                           257078900000.0   220518800000.0
Common Stock Equity                           258475500000.0   220518800000.0
Total Capitalization                          830596400000.0   786948900000.0
Total Equity Gross Minority Interest          258475500000.0   220518800000.0
Minority Interest                                        0.0              NaN
Stockholders Equity                           258475500000.0   220518800000.0
Other Equity Interest                            371200000.0      251700000.0
Capital Stock                                  66181200000.0    62213400000.0
Common Stock                                   66181200000.0    62213400000.0
Total Liabilities Net Minority Interest      2140345000000.0  1907245200000.0
Long Term Debt And Capital Lease Obligation   572120900000.0   566430100000.0
Total Assets                                 2398820500000.0  2127764000000.0
Investments And Advances                      609132800000.0   505865200000.0
Investmentin Financial Assets                 609132800000.0   505865200000.0
Goodwill And Other Intangible Assets            1396600000.0              NaN
Goodwill                                        1396600000.0              NaN
Net PPE                                        21330600000.0    16153400000.0
Cash And Cash Equivalents                     137786800000.0   148471100000.0
Cash Financial                                105622800000.0    80128600000.0

In [22]:
# - cash flow statement
msft.quarterly_cashflow
msft.cashflow

,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Free Cash Flow,23749100000.0,21972867000.0,134557403000.0,105379395000.0
Repayment Of Debt,NaN,NaN,-116111000000.0,-125862047000.0
Issuance Of Debt,27494900000.0,71765139000.0,NaN,NaN
Issuance Of Capital Stock,22595500000.0,30340750000.0,20129152000.0,475496000.0
Capital Expenditure,-11881000000.0,-4818448000.0,-5859728000.0,-4275961000.0
End Cash Position,137786800000.0,157023727000.0,57731245000.0,41628440000.0
Other Cash Adjustment Outside Changein Cash,NaN,-100000.0,NaN,NaN
Beginning Cash Position,157023700000.0,57731245000.0,41628440000.0,95261534000.0
Changes In Cash,-19236900000.0,99292482000.0,16102805000.0,-53633094000.0
Financing Cash Flow,65090400000.0,102105889000.0,-95981848000.0,-125386551000.0
Net Other Financing Charges,15000000000.0,1500000000.0,NaN,NaN
Net Common Stock Issuance,22595500000.0,30340750000.0,20129152000.0,475496000.0
Common Stock Issuance,22595500000.0,30340750000.0,20129152000.0,475496000.0
Net Issuance Payments Of Debt,27494900000.0,70265139000.0,-116111000000.0,-125862047000.0
Net Long Term Debt Issuance,27494900000.0,70265139000.0,-116111000000.0,-125862047000.0
Long Term Debt Payments,NaN,NaN,-116111000000.0,-125862047000.0
Long Term Debt Issuance,27494900000.0,71765139000.0,NaN,NaN
Investing Cash Flow,-119957400000.0,-29604722000.0,-28332478000.0,-37901899000.0
Net Investment Purchase And Sale,-108157800000.0,-24813820000.0,-22838021000.0,-33710082000.0
Purchase Of Investment,-108157800000.0,-24813820000.0,-22838021000.0,-33710082000.0
Net PPE Purchase And Sale,-11799600000.0,-4790902000.0,-5494457000.0,-4191817000.0
Sale Of PPE,81400000.0,27546000.0,365271000.0,84144000.0
Purchase Of PPE,-11881000000.0,-4818448000.0,-5859728000.0,-4275961000.0
Operating Cash Flow,35630100000.0,26791315000.0,140417131000.0,109655356000.0
Taxes Refund Paid,-3559400000.0,1348275000.0,5175591000.0,-1493593000.0
Change In Working Capital,-18027000000.0,-13357878000.0,105073188000.0,86965467000.0
Change In Other Current Liabilities,20222800000.0,-4852482000.0,-6320221000.0,23853657000.0
Change In Other Current Assets,-22103900000.0,9708954000.0,30489977000.0,-25751783000.0
Other Non Cash Items,2911900000.0,2088783000.0,1062103000.0,1286952000.0
Provisionand Write Offof Assets,21211600000.0,35203649000.0,28852800000.0,32640667000.0
Depreciation And Amortization,4349900000.0,3824062000.0,3425065000.0,3200069000.0
Depreciation,4349900000.0,3824062000.0,3425065000.0,3200069000.0
Gain Loss On Sale Of PPE,-7500000.0,52505000.0,-157597000.0,-161000.0
Net Income From Continuing Operations,33314000000.0,1749716000.0,5189840000.0,-23458949000.0

In [24]:
# show holders
msft.major_holders
msft.institutional_holders
msft.mutualfund_holders

In [26]:
msft.major_holders

        0                                      1
0  44.69%        % of Shares Held by All Insider
1  22.37%       % of Shares Held by Institutions
2  40.43%        % of Float Held by Institutions
3      72  Number of Institutions Holding Shares

In [27]:
msft.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2024-04-27 16:00:00+05:30           NaN           NaN          NaN
2024-01-19 16:00:00+05:30           NaN           NaN          NaN
2023-10-20 16:00:00+05:30           NaN           NaN          NaN
2023-07-28 16:00:00+05:30           NaN           NaN          NaN
2023-04-29 15:00:00+05:30          1.01          1.28       0.2673

In [30]:
msft.isin
msft.options
msft.news

[{'uuid': '9ae8db58-b45f-3770-bc89-c6fa2dbf7534',
  'title': 'Prime Day Security Camera Deals (2023): Early Ring, Blink, Google Nest & More Sales Identified by Retail Replay',
  'publisher': 'Business Wire',
  'link': 'https://finance.yahoo.com/news/prime-day-security-camera-deals-154500677.html',
  'providerPublishTime': 1688831100,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/FOVZ8kbMSnmz56_kc1OJEg--~B/aD0yNjk7dz00ODA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/business-wire.com/6e1d257e5f848b1dd6fe43ea63e1ae68',
     'width': 480,
     'height': 269,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/fsPjqhGKm3MlnCd_CtBnAg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/business-wire.com/6e1d257e5f848b1dd6fe43ea63e1ae68',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': 'a6516344-ef75-3631-802b-3d7ad95b4dce',
  'title': 'Prime Day Tablet Deals 2023: Best Early Samsung Galaxy Tab, Apple iPad, Amazon Fire & More Tablet Savings Shared by Retail Replay',
  'publisher': 'Business Wire',
  'link': 'https://finance.yahoo.com/news/prime-day-tablet-deals-2023-154000012.html',
  'providerPublishTime': 1688830800,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/PLfTUOEGDBOLzGbv7oJv1Q--~B/aD0yNjk7dz00ODA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/business-wire.com/acedbb5aaf677c51e193bd02ee773ae9',
     'width': 480,
     'height': 269,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/FA4GBQ4Z_j2XotOohXAEjg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/business-wire.com/acedbb5aaf677c51e193bd02ee773ae9',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': '45d098dd-79e3-3175-8a1a-2f72266c370b',
  'title': 'Verstappen denies Norris for British Grand Prix pole',
  'publisher': 'AFP',
  'link': 'https://finance.yahoo.com/m/45d098dd-79e3-3175-8a1a-2f72266c370b/verstappen-denies-norris-for.html',
  'providerPublishTime': 1688830671,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/pWGuFrd59pDgj8bFpdjlKw--~B/aD01MTI7dz03Njg7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/afp.com/f707f489668c19980ae63501f8d8a86c',
     'width': 768,
     'height': 512,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/tayFArnZhs3HIoNnol8thg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/afp.com/f707f489668c19980ae63501f8d8a86c',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': '230fb5db-68a2-30bd-b80e-b659fe2f6859',
  'title': 'Kid Rock, Garth Brooks, Disney, DeSantis and Economic Politics',
  'publisher': 'TheStreet.com',
  'link': 'https://finance.yahoo.com/m/230fb5db-68a2-30bd-b80e-b659fe2f6859/kid-rock%2C-garth-brooks%2C.html',
  'providerPublishTime': 1688830560,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/TSvPRSDBRICTi2XFD_W8lA--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/thestreet.com/380dca93ff518258adebac6b49342453',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/UCxorOYCNS_UDdFFp3EPwg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet.com/380dca93ff518258adebac6b49342453',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['DIS', 'BUD']},
 {'uuid': 'de6d3acd-ed06-328c-b4a9-f3185fe699a6',
  'title': 'Prime Day Mesh WiFi & Amazon eero Deals (2023): Early WiFi Router & WiFi System Savings Found by Retail Replay',
  'publisher': 'Business Wire',
  'link': 'https://finance.yahoo.com/news/prime-day-mesh-wifi-amazon-153500878.html',
  'providerPublishTime': 1688830500,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/OUctKoN0ZH6JDKdry6q25g--~B/aD0yNjk7dz00ODA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/business-wire.com/0d79740a647c0059f8016b01271b2d27',
     'width': 480,
     'height': 269,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/qg9Qa459AVy11m1lOo_dgw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/business-wire.com/0d79740a647c0059f8016b01271b2d27',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': '17324003-3338-3f55-a06d-0da215d0a47b',
  'title': 'New medical sharps disposal container available for public',
  'publisher': 'McAlester News-Capital, Okla.',
  'link': 'https://finance.yahoo.com/m/17324003-3338-3f55-a06d-0da215d0a47b/new-medical-sharps-disposal.html',
  'providerPublishTime': 1688830440,
  'type': 'STORY'},
 {'uuid': '33258a9f-a25b-38f3-b0ec-e7abd06deeff',
  'title': 'Medvedev defeats friend Fucsovics at Wimbledon',
  'publisher': 'AFP',
  'link': 'https://finance.yahoo.com/m/33258a9f-a25b-38f3-b0ec-e7abd06deeff/medvedev-defeats-friend.html',
  'providerPublishTime': 1688830422,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/gxM3stW9tHGaoeHMs4ar_Q--~B/aD01MTI7dz03Njg7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/afp.com/2e7ea712d3392f3a87f347d2ad74f744',
     'width': 768,
     'height': 512,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/1gt8v5Y5qIZfVI8QiIjlcg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/afp.com/2e7ea712d3392f3a87f347d2ad74f744',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': 'b1fdeee5-df35-38cd-80b2-6a9de0e441c9',
  'title': 'What Delta and General Mills Reveal About the Economy',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/b1fdeee5-df35-38cd-80b2-6a9de0e441c9/what-delta-and-general-mills.html',
  'providerPublishTime': 1688830380,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/OfIUfyKitq6b3OX9sTCKvw--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/56a8353944a6c3b422f48415bee55da6',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/XHRvrpKRFN99NgzE.q_SvA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/56a8353944a6c3b422f48415bee55da6',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['DAL', 'AAPL', 'GIS', 'COST', 'AZO']}]

In [36]:
msft.splits

Series([], Name: Stock Splits, dtype: float64)