In [1]:
import yfinance as yf

In [ ]:
# get data from yahoo finance

In [ ]:
import yfinance as yf

In [2]:
msft = yf.Ticker("MSFT")
msft.info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'website': 'https://www.microsoft.com',
 'industry': 'Software - Infrastructure',
 'industryKey': 'software-infrastructure',
 'industryDisp': 'Software - Infrastructure',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 221000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 56,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 9276400,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 64,
   'title': 'President & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2023,
   'totalPay': 3591277,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 51,
   'title': 'Executive VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 3452196,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson B. Althoff',
   'age': 50,
   'title': 'Executive VP & Chief Commercial Officer',
   'yearBorn': 1973,
   'fiscalYear': 2023,
   'totalPay': 3355797,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 51,
   'title': 'Executive Vice President of Business Development, Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 2460507,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 57,
   'title': 'Corporate VP & Chief Accounting Officer',
   'yearBorn': 1966,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James Kevin Scott',
   'age': 51,
   'title': 'Executive VP of AI & CTO',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brett  Iversen',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hossein  Nowbar',
   'title': 'Chief Legal Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Chief Communications Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 4,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 2,
 'overallRisk': 2,
 'governanceEpochDate': 1704067200,
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 367.75,
 'open': 369.3,
 'dayLow': 369.03,
 'dayHigh': 370.97,
 'regularMarketPreviousClose': 367.75,
 'regularMarketOpen': 369.3,
 'regularMarketDayLow': 369.03,
 'regularMarketDayHigh': 370.97,
 'dividendRate': 3.0,
 'dividendYield': 0.0082,
 'exDividendDate': 1707868800,
 'payoutRatio': 0.2636,
 'fiveYearAvgDividendYield': 1.0,
 'beta': 0.876,
 'trailingPE': 35.839302,
 'forwardPE': 28.566359,
 'volume': 5363942,
 'regularMarketVolume': 5363942,
 'averageVolume': 26001401,
 'averageVolume10days': 18565820,
 'averageDailyVolume10Day': 18565820,
 'bid': 370.42,
 'ask': 370.45,
 'bidSize': 800,
 'askSize': 900,
 'marketCap': 2751571427328,
 'fiftyTwoWeekLow': 226.41,
 'fiftyTwoWeekHigh': 384.3,
 'priceToSalesTrailing12Months': 12.603964,
 'fiftyDayAverage': 366.7564,
 'twoHundredDayAverage': 331.92474,
 'trailingAnnualDividendRate': 2.79,
 'trailingAnnualDividendYield': 0.0075866757,
 'currency': 'USD',
 'enterpriseValue': 2694950420480,
 'profitMargins': 0.35314998,
 'floatShares': 7425796261,
 'sharesOutstanding': 7432260096,
 'sharesShort': 53704127,
 'sharesShortPriorMonth': 47353456,
 'sharesShortPreviousMonthDate': 1700006400,
 'dateShortInterest': 1702598400,
 'sharesPercentSharesOut': 0.0072000003,
 'heldPercentInsiders': 0.00055,
 'heldPercentInstitutions': 0.73014,
 'shortRatio': 1.77,
 'shortPercentOfFloat': 0.0072000003,
 'impliedSharesOutstanding': 7432260096,
 'bookValue': 29.702,
 'priceToBook': 12.46448,
 'lastFiscalYearEnd': 1688083200,
 'nextFiscalYearEnd': 1719705600,
 'mostRecentQuarter': 1696032000,
 'earningsQuarterlyGrowth': 0.27,
 'netIncomeToCommon': 77096001536,
 'trailingEps': 10.33,
 'forwardEps': 12.96,
 'pegRatio': 2.12,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 12.345,
 'enterpriseToEbitda': 24.615,
 '52WeekChange': 0.6191881,
 'SandP52WeekChange': 0.20686829,
 'lastDividendValue': 0.75,
 'lastDividendDate': 1700006400,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EST',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -18000000,
 'currentPrice': 370.22,
 'targetHighPrice': 475.0,
 'targetLowPrice': 285.0,
 'targetMeanPrice': 410.49,
 'targetMedianPrice': 415.0,
 'recommendationMean': 1.7,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 45,
 'totalCash': 143945007104,
 'totalCashPerShare': 19.368,
 'ebitda': 109482999808,
 'totalDebt': 105681002496,
 'quickRatio': 1.531,
 'currentRatio': 1.663,
 'totalRevenue': 218310000640,
 'debtToEquity': 47.881,
 'revenuePerShare': 29.347,
 'returnOnAssets': 0.14718,
 'returnOnEquity': 0.39106998,
 'freeCashflow': 51013873664,
 'operatingCashflow': 94966996992,
 'earningsGrowth': 0.272,
 'revenueGrowth': 0.128,
 'grossMargins': 0.69511,
 'ebitdaMargins': 0.5015,
 'operatingMargins': 0.47587,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.1936}

In [5]:
history_data = msft.history(period="1d", interval="1m",
                                 start=None, end=None, prepost=False, actions=True,
                                 auto_adjust=True, back_adjust=False, repair=True, keepna=False,
                                 proxy=None, rounding=False, timeout=10,
                                 raise_errors=False)
print(type(history_data))

# Create a new DataFrame with specific columns
history_data_imp_columns = history_data.loc[:, ['Open', 'High', 'Low', 'Close', 'Volume']].copy()

# Rename columns of the new DataFrame
history_data_imp_columns_renamed = history_data_imp_columns.rename(columns={'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close', 'Volume': 'volume'})

<class 'pandas.core.frame.DataFrame'>

,open,high,low,close,volume
Datetime,,,,,
2024-01-08 09:30:00-05:00,369.299988,370.060394,369.010010,369.390015,652292
2024-01-08 09:31:00-05:00,369.399994,369.635010,369.339996,369.459991,108600
2024-01-08 09:32:00-05:00,369.468903,369.744995,369.399994,369.622406,86102
2024-01-08 09:33:00-05:00,369.600098,369.989990,369.540009,369.899994,51614
2024-01-08 09:34:00-05:00,369.899994,369.989990,369.625000,369.760010,88358
...,...,...,...,...,...
2024-01-08 11:24:00-05:00,370.401489,370.519897,370.369995,370.429993,33827
2024-01-08 11:25:00-05:00,370.470001,370.540009,370.400085,370.400085,26049
2024-01-08 11:26:00-05:00,370.424988,370.500000,370.290009,370.299988,21443
2024-01-08 11:27:00-05:00,370.309998,370.399994,370.239990,370.239990,33941
2024-01-08 11:28:00-05:00,370.250000,370.250000,370.250000,370.250000,0

In [ ]:
# Store Data in Influx DB

In [9]:
from influxdb_client import InfluxDBClient, Point
from influxdb_client.client.write_api import SYNCHRONOUS
from datetime import datetime

url = "http://localhost:8086"
token = 'yx6JRL0nCzxw5Q67CQ2OPlFdJoVqo4cOHk7gRjfMY43cJlIzRXXNJ0MTB9K-EY7PwGRpq_uRKAAcDYsoagA5gg=='
org = 'trade_smart'
bucket = 'trade_smart'

def insert_dataframe(measurement=None, tag_dict=None, fields_dataframe=None, fields_list=[]):
    if measurement is None or tag_dict is None:
        return {"success": False, "error": "Incorrect input Arguments"}

    # # Convert DataFrame to InfluxDB line protocol format
    points = []
    if fields_dataframe is not None:
        for _, row in fields_dataframe.iterrows():
            point = Point(measurement)
            for tag_key, tag_value in tag_dict.items():
                point.tag(tag_key, tag_value)
            for column, value in row.items():
                point.field(column, value)
            point.time(_)
            points.append(point)
    if fields_list is not None or len(fields_list) > 0:
        for field in fields_list:
            point = Point(measurement)
            for tag_key, tag_value in tag_dict.items():
                point.tag(tag_key, tag_value)
            for key, val in field.items():
                point.field(key, val)
            points.append(point)

    # [p for p in points]
    line_protocol = "\n".join([p.to_line_protocol() for p in points])

    # Write financial_data to InfluxDB

    client = InfluxDBClient(url=url, token=token)
    write_api = client.write_api(write_options=SYNCHRONOUS)
    writer_resp = write_api.write(bucket=bucket, org=org, record=line_protocol)
    client.close()

    # Write financial_data to InfluxDB
    # with InfluxDBClient(url=self.url, token=self.token) as client:
    #     with client.write_api(write_options=SYNCHRONOUS) as write_api:
    #         write_api.write(bucket=self.bucket, org=self.org, record=line_protocol)

    return


for i in range(0, len(history_data_imp_columns_renamed), 100):
    chunk = history_data_imp_columns_renamed.iloc[i:i + 100]
    processed_chunk = insert_dataframe(measurement='candlestick', tag_dict={'symbol': "MSFT"}, fields_dataframe=chunk)
    print(processed_chunk)

None
None

In [ ]:
# Fetch data from Influx DB and draw indicators

In [21]:
import pandas as pd
url = "http://localhost:8086"
token = 'yx6JRL0nCzxw5Q67CQ2OPlFdJoVqo4cOHk7gRjfMY43cJlIzRXXNJ0MTB9K-EY7PwGRpq_uRKAAcDYsoagA5gg=='
org = 'trade_smart'
bucket = 'trade_smart'

def fetch_records(measurement):
    # Need to implement a query builder method
    client = InfluxDBClient(url=url, token=token)
    query = f'from(bucket: "{bucket}") |> range(start: 0) |> filter(fn: (r) => r._measurement == "{measurement}")'
    query = """
        from(bucket: "trade_smart")
          |> range(start: -24h)
          |> filter(fn: (r) => r["_measurement"] == "candlestick")
          |> filter(fn: (r) => r["symbol"] == "MSFT")
          |> yield(name: "mean")
    """
    print(query)
    tables = client.query_api().query(query, org=org)
    client.close()
    return tables

influx_resp = fetch_records("MSFT")
print(influx_resp)
data_frames = [pd.DataFrame(table.records) for table in influx_resp]
# Print the DataFrame(s)
display(data_frames)
# for i, df in enumerate(data_frames):
#     print(f"\nDataFrame {i + 1}:\n{df}")

        from(bucket: "trade_smart")
          |> range(start: -24h)
          |> filter(fn: (r) => r["_measurement"] == "candlestick")
          |> filter(fn: (r) => r["symbol"] == "MSFT")
          |> yield(name: "mean")

[<FluxTable: 9 columns, 119 records>, <FluxTable: 9 columns, 119 records>, <FluxTable: 9 columns, 119 records>, <FluxTable: 9 columns, 119 records>, <FluxTable: 9 columns, 119 records>]

[                                                     0
 0    FluxRecord() table: 0, {'result': 'mean', 'tab...
 1    FluxRecord() table: 0, {'result': 'mean', 'tab...
 2    FluxRecord() table: 0, {'result': 'mean', 'tab...
 3    FluxRecord() table: 0, {'result': 'mean', 'tab...
 4    FluxRecord() table: 0, {'result': 'mean', 'tab...
 ..                                                 ...
 114  FluxRecord() table: 0, {'result': 'mean', 'tab...
 115  FluxRecord() table: 0, {'result': 'mean', 'tab...
 116  FluxRecord() table: 0, {'result': 'mean', 'tab...
 117  FluxRecord() table: 0, {'result': 'mean', 'tab...
 118  FluxRecord() table: 0, {'result': 'mean', 'tab...

 [119 rows x 1 columns],
                                                      0
 0    FluxRecord() table: 1, {'result': 'mean', 'tab...
 1    FluxRecord() table: 1, {'result': 'mean', 'tab...
 2    FluxRecord() table: 1, {'result': 'mean', 'tab...
 3    FluxRecord() table: 1, {'result': 'mean', 'tab...
 4    FluxRecord() table: 1, {'result': 'mean', 'tab...
 ..                                                 ...
 114  FluxRecord() table: 1, {'result': 'mean', 'tab...
 115  FluxRecord() table: 1, {'result': 'mean', 'tab...
 116  FluxRecord() table: 1, {'result': 'mean', 'tab...
 117  FluxRecord() table: 1, {'result': 'mean', 'tab...
 118  FluxRecord() table: 1, {'result': 'mean', 'tab...

 [119 rows x 1 columns],
                                                      0
 0    FluxRecord() table: 2, {'result': 'mean', 'tab...
 1    FluxRecord() table: 2, {'result': 'mean', 'tab...
 2    FluxRecord() table: 2, {'result': 'mean', 'tab...
 3    FluxRecord() table: 2, {'result': 'mean', 'tab...
 4    FluxRecord() table: 2, {'result': 'mean', 'tab...
 ..                                                 ...
 114  FluxRecord() table: 2, {'result': 'mean', 'tab...
 115  FluxRecord() table: 2, {'result': 'mean', 'tab...
 116  FluxRecord() table: 2, {'result': 'mean', 'tab...
 117  FluxRecord() table: 2, {'result': 'mean', 'tab...
 118  FluxRecord() table: 2, {'result': 'mean', 'tab...

 [119 rows x 1 columns],
                                                      0
 0    FluxRecord() table: 3, {'result': 'mean', 'tab...
 1    FluxRecord() table: 3, {'result': 'mean', 'tab...
 2    FluxRecord() table: 3, {'result': 'mean', 'tab...
 3    FluxRecord() table: 3, {'result': 'mean', 'tab...
 4    FluxRecord() table: 3, {'result': 'mean', 'tab...
 ..                                                 ...
 114  FluxRecord() table: 3, {'result': 'mean', 'tab...
 115  FluxRecord() table: 3, {'result': 'mean', 'tab...
 116  FluxRecord() table: 3, {'result': 'mean', 'tab...
 117  FluxRecord() table: 3, {'result': 'mean', 'tab...
 118  FluxRecord() table: 3, {'result': 'mean', 'tab...

 [119 rows x 1 columns],
                                                      0
 0    FluxRecord() table: 4, {'result': 'mean', 'tab...
 1    FluxRecord() table: 4, {'result': 'mean', 'tab...
 2    FluxRecord() table: 4, {'result': 'mean', 'tab...
 3    FluxRecord() table: 4, {'result': 'mean', 'tab...
 4    FluxRecord() table: 4, {'result': 'mean', 'tab...
 ..                                                 ...
 114  FluxRecord() table: 4, {'result': 'mean', 'tab...
 115  FluxRecord() table: 4, {'result': 'mean', 'tab...
 116  FluxRecord() table: 4, {'result': 'mean', 'tab...
 117  FluxRecord() table: 4, {'result': 'mean', 'tab...
 118  FluxRecord() table: 4, {'result': 'mean', 'tab...

 [119 rows x 1 columns]]

In [ ]:
# Store Indicator in Influx DB

In [ ]:
# Trade